.coverage
.eggs
.pytest_cache
.test_venv
.vscode
.idea
.venv*
.tests-venv
.python-version
.cid
.cvol
*~
*.pyc
*.egg-info
build
dist
_build
git_version.py
__pycache__
faider-build
pip-wheel-metadata
azkaban_templates/development_config.yaml
test_report.xml

.env
models
local
*.ipynb_checkpoints
